<h3 class="text-space-cadet text-xl font-semibold mb-6">Link Created!</h3>
<div>
  <ul>
    <li class="mb-6">
      <p class="mb-2 font-semibold">Rotational URL:</p>
      <a href="{{ .URL }}" target="_blank" id="short-url" class="underline text-blue-600">{{ .URL }}</a>
      <button onclick="copyUrlToClipboard()" type="button">
        <i id="short-icon" class="fa-solid fa-copy ml-1"></i>
      </button>

    </li>
    <li>
      <p class="mb-2 font-semibold">Alt URL:</p>
      <a href="{{ .AltURL }}" target="_blank" id="alt-short-url" class="underline text-blue-600">{{ .AltURL }}</a>
      <button onclick="copyAltUrlToClipboard()" type="button">
        <i id="alt-short-icon" class="fa-solid fa-copy ml-1"></i>
      </button>
    </li>
  </ul>

  <div class="mt-12 flex justify-center gap-12">
    <a href="{{ .URL }}/info" class="block w-[140px] bg-lapis hover:bg-space-cadet text-white p-2 rounded">View Info</a>
    <a href="/" class="block w-[140px] bg-dartmouth hover:bg-mint text-white p-2 rounded">Create New URL</a>
  </div>

</div>


