{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name='robots' content='noindex,follow' />

  <title>{{ block "title" . }}Rotational Shortcrust{{ end }}</title>
  <link rel="icon" type="image/png" href="/static/favicon.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/styles/output.css" />
</head>
<body>
    {{ template "header" .}}


  <main class="container">
    {{ block "content" . }}{{ end }}
  </main>

  {{ template "footer" .}}

  <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
  <script src="/static/js/htmx.js"></script>
  {{ block "appcode" . }}{{ end }}
</body>
</html>
{{ end }}