{{ template "base" . }}
{{ define "content" }}

<section class="text-center py-14" hx-get="/v1/links/{{ .ID }}" hx-trigger="load">
  <i alt="Loading..." class="fa-solid fa-spinner fa-spin htmx-indicator"></i>
</section>

<div hx-ext="ws" ws-connect="/v1/links/{{ .ID }}/updates" hx-target="link-detail-chart" class="mb-10">
  <canvas id="link-detail-chart"></canvas>
</div>

{{ end }}

{{ define "appcode" }}

<script src="https://unpkg.com/chart.js@4.4.1/dist/chart.umd.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<script src="/static/js/link-detail-chart.js"></script>

{{ end }}
