<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name='robots' content='noindex,follow' />

  <title>{{ block "title" . }}Rotational Shortcrust{{ end }}</title>
  <link rel="icon" type="image/png" href="/static/favicon.ico">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/styles/output.css" />

</head>
<body>
  <main class="flex h-100 justify-center content-center">
    <div class="w-96 border border-solid border-space-cadet rounded-lg my-auto">
      <div class="content-center bg-lapis py-6 rounded-t-lg">
        <img class="mx-auto" width="64" height="64" src="/static/images/rotational-white-logo.png" title="Rotational Shortcrust Login" />
      </div>

      <div class="text-center p-5">
        <h3 class="text-2xl pb-4 text-space-cadet font-bold">Please Sign In</h3>
        <p class="pb-4 text-sm text-slate-700" >Please sign in with your <span class="text-lapis">@rotational.io</span> email address to access the Rotational Shortcrust UI.</p>
        <div class="max-w-52 my-4 mx-auto">
          <div id="g_id_onload"
            data-client_id="{{ .GoogleClientID }}"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="{{ .LoginURI }}">
          </div>

          <div class="g_id_signin mx-auto"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="sign_in_with"
            data-size="large"
            data-logo_alignment="left">
          </div>
        </div>
      </div>
    </div>
  </main>

  {{ template "footer" .}}

  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <script src="https://accounts.google.com/gsi/client" async></script>
  <script src="/static/js/login.js"></script>
</body>
</html>