<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name='robots' content='noindex,follow' />

  <title>{{ block "title" . }}Rotational Shortcrust{{ end }}</title>
  <link rel="icon" type="image/png" href="/static/favicon.ico">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/styles/output.css" />

</head>
<body>
  <main class="flex h-100 justify-center content-center">
    <div class="my-auto text-center p-4">
      <h3 class="text-2xl text-space-cadet font-bold">Please Sign In</h3>
      <form hx-post="/login" class="flex-row">
        <label for="apikey" class="hidden">Ener your APIKey here</label>
        <input type="text" id="apikey" name="apikey" placeholder="Enter your API Key" required
              class="inline-block mt-3 p-2 mx-auto w-[400px] md:w-[675px] lg:w-[780px] bg-gray-50 border border-gray-300 rounded focus:ring-blue-500 focus:border-blue-500" />
        <button type="submit" class="inline-block w-[32px] bg-lapis hover:bg-space-cadet text-white p-2 rounded mt-4"><i class="fa fa-key"></i></button>
      </form>
      <p id="login-help" class="text-sm text-slate-400 pt-2">If you need an API key, please request one from the web admin.</p>
      <p id="login-error" class="text-sm text-red-400 pt-1 hidden"></p>
    </div>
  </main>

  {{ template "footer" .}}

  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <script src="/static/js/login.js"></script>
</body>
</html>